<!DOCTYPE html>
<html>
<head>
	<title>Retro-Video-Server</title>
</head>
<body bgcolor="#202020">
	<form action="/ytsearch" method="POST" float="center">
		<input type="text" name="searchQuery"></input>
		<input type="submit" value="Search"></input>
	</form>
	<br>

	<% if (isVideoRunning) { %>
		<h3 Color="#ffffff" >NOTE: a video is currently running already!</h3>
		<a href="/video">Go to it now</a>
	<% } %>


	<% if (results.kind != "none") {%>

		<h2><font Color="#ffffff">Search Results</font></h2>

		<% for (let i = 0; i < results.items.length; i++) { %>
			<div>
				<form action="/spawnvlc" method="POST">
					<font Color="#666666">Video quality: </font>
					<select name="quality">
						<option value="c64">c64</option>
						<option value="144p">144p</option>
						<option value="240p">240p</option>
						<option value="360p">360p</option>
						<option value="480p">480p</option>
					</select><br>
					<input type="hidden" name="title" value="<%=results.items[i].snippet.title%>"></input>
					<input type="hidden" name="videoId" value="<%=results.items[i].id.videoId%>"></input>
					<input type="image" src="<%=results.items[i].snippet.thumbnails.medium.url%>" align="left">
				</form>
				<br>
				<p><b><font Color="#ffffff"><%=results.items[i].snippet.title%></font></b></p>
				<p><font Color="#666666">Description: <%=results.items[i].snippet.description%></font></p>
				<p><font Color="#666666">Channel: <%=results.items[i].snippet.channelTitle%></font></p>
			</div>
			<hr><br>
		<% } %>

	<% } %>

</body>
</html>